@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: #ffffff;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
}

.cell {
    flex: 1;
}

.sidebar {
    flex: 0 0 auto !important;
    width: 30%;
    padding: 25px;
}

main {
    padding: 20px;
}

article {
    padding : 15px 10px 20px;
}